@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter Tight', sans-serif;
}

.title {
    @apply text-5xl; 
    font-weight: 700;
}

.subtitle {
    @apply text-2xl;
    font-weight: 700;
}

.sectionTitle {
    @apply text-xl;
    font-weight: 600;
}

.paragraph {
    @apply text-base;
    font-weight: 500;
}

.caption {
    @apply text-sm;
    font-weight: 500;
}

.heroBackground {
    background-image: url('images/hero-bg.png');
}

.case1 {
    background-image: url('https://res.cloudinary.com/dgplbptdj/image/upload/v1674703502/Round%20Table/Case1_eujhmc.png');
}

.shadow1 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
